<div class="form mb-5">
<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div class="notification is-danger is-light">
      <h2>Tweet Not Created:</h2>
      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post, "Tweet about it", class: "label" %>
    <div class="control">
      <%= form.text_area :post, class:"textarea is-info", rows: "2", cols: "30", placeholder: "Create a new tweet...", maxlength: "150" %>
    </div>
  </div>
  <div class="field">
      <div class="control">
        <%= form.submit class: "button is-info"%>
      </div>
  </div>
<% end %>
</div>