<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    
   
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5 has-text-white">Twitter</h1>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarTop" class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to 'New Tweet', new_tweet_path, class: "button is-info is-inverted" %>
              </p>
                <% if user_signed_in? %>
                  <p class="control">
                    <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
                  </p>
                  <p class="control">
                    <%= link_to 'Logout', destroy_user_session_path, class: "button is-info", method: :delete %>
                  </p>
                <% else %>
                  <p class="control">
                    <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
                  </p>
                  <p class="control">
                    <%= link_to 'Log In', new_user_session_path, class:"button is-info" %>
                  </p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

     <%# Flash messages %>
    <% if flash[:notice] %>
      <div class="notification is-light is-info is-radiusless">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif flash[:alert] %>
      <div class="notification is-light is-danger is-radiusless">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <section class="section">
      <%= yield %>
    </section>

    <script>
      // Navbar burger toggle
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });

    </script>
  </body>
</html>
